$text_outline: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
$border_width: 4px;
//nav variables
$bg_color: #e6b871;
$text_color: #EEE5E9;
$hover_color: #7c7c7c;
$dark_bg_color: #e6b822;
$nav_size: 3.5em;
$nav_button_margin: 18%;
$brand_size: 10%;
$nav_text_margin: 13%;

//hero variables
$hero: "./img/bakery_hero.png";
$hero_opacity: 0.5;
$header_font: 'Yellowtail', cursive;
$body_font: 'Open Sans', sans-serif;
$lead_size: 1.9em;
$hr_thickness: .1em;
$hr_color: #cf5c36;

//cards
$card_height: 48vh;

//global styling 
body {
    font-family: $body_font;
}


//nav

nav {
    background-color: $bg_color;

    .navbar-collapse {
        margin-left: $nav_text_margin;
    }
    
    .nav-link {
        color: $text_color !important;
        font-size:  $nav_size;
        font-family: $header_font;
        margin-right: $nav_button_margin;
        
    }
    
    .nav-link:hover {
        color: $hover_color !important;
    }
    
    .navbar-brand {
        width: $brand_size;
    }
    
    
}


//hero

.jumbotron {
    background-image: url($hero);
    background-size: cover;
    background-position: center;
    padding-bottom: 6em;
    color: $text_color;
    padding-top: 3%;
    margin: 0;
    
    h1 {
        text-shadow: $text_outline;
        font-family: $header_font;
        font-size: 7em;
        margin:0;
    }

    .lead {
        font-size: $lead_size;
        text-shadow: $text_outline;
        color: $text_color;
        font-weight: bolder;
    }

    hr {
        height: $hr_thickness;
        background-color: $hr_color;
    }
    
    // .btn-lg {
    //     font-size: $lead_size
    // }

    // .btn-outline-warning {
    //     color: black;
    //     border-width: $border_width;
    //     border-color: $bg_color; /*set the color you want here*/
    // }
    // .btn-outline-warning:hover, .btn-outline-warning:focus, .btn-outline-warning:active, .btn-outline-warning.active, .open>.dropdown-toggle.btn-outline-warning {
    //     color: $hover_color;
    //     background-color: $bg_color;
    //     border-width: $border_width;
    //     border-color: $bg_color; /*set the color you want here*/
    // }
}

// footer 

.page-footer {
    background-color: $bg_color;
}

.footer-copyright {
    background-color: $dark_bg_color;
}


.footer-header {
    padding-right: 0 !important;
    color: $text_color;
    text-shadow: $text_outline;
    
    h5 {
        font-size: 3em !important;
        font-family: $header_font;
        
    }

    p {
        font-size: 2em !important;
        font-family: $body_font
    }
}

.footer-img {
    padding-left: 0 !important;
    width: 59%;
}

// cards
.card-img-top {

        height: $card_height;
        width: 100%;
        object-fit: cover;
}
