<div class="jumbotron jumbotron-fluid text-center">
    <h1 class="display-4">Batter &amp; Crumbs</h1>
    <hr class="my-3">
    <p class="lead">Friendly Vegan Neighborhood Bakery</p>
    <hr class="my-3"></h4>
    <button type="button" class="btn btn-lg btn-outline-warning mr-5">Left</button>
    <button type="button" class="btn btn-lg btn-outline-warning mr-5">Middle</button>
    <button type="button" class="btn btn-lg btn-outline-warning mr-5">Right</button>

</div>