<div class="jumbotron jumbotron-fluid text-center">
    <h1 class="display-4">Batter &amp; Crumbs</h1>
    <hr class="my-4">
    <p class="lead">Friendly Vegan Neighborhood Bakery</p>
    <hr class="my-4">
</div>
<div class="container-fluid text-center text-md-left catalog-row">
    <div class="row">
        <div class="col-md-4">
            <h5 class="text-uppercase">Sweet Treats</h5>
        </div>

        <form class="form-inline" action="/" method="POST">
            <div class="form-group">
                <label class="mr-2" for="exampleInputEmail1">Email Address:</label>
                <input class="mr-2" type="email" class="form-control" name="inputEmail" id="inputEmail1" aria-describedby="emailHelp" placeholder="John.Doe@gmail.com">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="crop-img mx-auto">
                <img class="img-fluid" src="https://images.unsplash.com/photo-1530648672449-81f6c723e2f1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1280&q=80" alt="">
            </div>
            <p class="img-caption text-center">Cakes</p>
            <hr class="img-rule">
            <p class="img-description text-center">
                Birthdays, Weddings, Parties<br>
                Vegan, Kosher, Gluten-Free
            </p>
        </div>

        <div class="col-sm-4">
            <div class="crop-img mx-auto">
                <img class="img-fluid" src="https://images.unsplash.com/photo-1491374812364-00028bbe7d2f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" alt="">
            </div>
            <p class="img-caption text-center">Cookies</p>
            <hr class="img-rule">
            <p class="img-description text-center">
                Soft, Chewy<br>
                Hard, Crunchy
            </p>
        </div>

        <div class="col-sm-4">
            <div class="crop-img mx-auto">
                <img class="img-fluid" src="https://images.unsplash.com/photo-1457296795659-6f458be7a874?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" alt="">
            </div>
            <p class="img-caption text-center">Muffins</p>
            <hr class="img-rule">
            <p class="img-description text-center">
                They'll give you a muffin top!
            </p>
        </div>
    </div>
</div>
