<div class="jumbotron jumbotron-fluid text-center">
    <h1 class="display-4">Batter &amp; Crumbs</h1>
    <hr class="my-4">
    <p class="lead">Friendly Vegan Neighborhood Bakery</p>
    <hr class="my-4">
    

</div>